# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Local development settings
*.log
.DS_Store

# Virtual Environment
venv/
env/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/